/** =================banner====================*/
/*.dashboard {
    background-image: url('https://images.pexels.com/photos/2740956/pexels-photo-2740956.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 877;
    width: 100%;
    color: #ffffff !important;
    position: relative;
}

.dashboard::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(8, 22, 53, 0.719);
}

.dashboard .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;

}
.dashboard .content h1, .dashboard .content h3 {
    font-weight: bolder;
} */

.mainImage{
    height : 700px;
    margin-right: 0;
}

.mainimg{
    height:700px;
    width:100%;
    bottom:0;
    object-fit:fill;
}

.ownedby{
    font-size : 10px;
    color : #a1aab9
}

.productby{
    font-size : 10px;
    color : #a1aab9
}

.cart-icon{
    padding-top: 12px;
    font-size :40px;
    cursor:pointer;
}

.cart-icon:active{
    color: blue;
    content-visibility: hidden;
}

