
.containerProduct{
  background-image: url('https://images.unsplash.com/photo-1558365916-848463c5d803?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
._row{
display: flex ;
flex-direction:column;
justify-content:center;
align-items: center;
border-radius: 10px; 
position: relative; 
}

.add_product__title{
  margin-top: 10px;
  color: black;
}


input::placeholder {
font-weight: bold;
opacity: .5;
color: rgb(13, 13, 13);
border-radius: 7px;
}

.h1{
color:black;
  padding:10px;
}

.btn-additem{
  background:radial-gradient(
    circle,
    rgb(96, 93, 152) 0%,
    
   
  ); 
  color: black;
  position: relative;
  display: flex ;
    margin: 100px;
  border-radius: 10px;

border:none;
margin-right:auto;
}


input{
  padding-left: 50px ;
  border: 1px solid rgb(98, 95, 95);
  
  border-radius: 8px;

}

.add_product_title{
  color: black;
}