
.row{

  background-color: blanchedalmond;
background: radial-gradient(
  circle,
  rgb(96, 93, 152) 0%,
  rgb(215, 187, 187) 0%,
  rgba(93, 93, 116, 1) 100%
);
padding-right: 1%;
display: flex ;
flex-direction:column;
justify-content:flex-start;
align-items: center;
border-radius: 10px;
position: relative;
}


input::placeholder {
font-weight: bold;
opacity: .5;
color: lightslategray;
border-radius: 7px;

}
h1{
color:black;
  padding:10px;
}

.btn-additem{
  background:radial-gradient(
    circle,
    rgb(96, 93, 152) 0%,
    
   
  ); 
  color: black;
  position: relative;
  display: flex ;
    margin: 100px;
  border-radius: 10px;

border:none;
margin-right:auto;
}


input{
  padding: 10px 100px 15px;
  border: 1px solid black;
 
  
  border-radius: 8px;

}
