.title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1em;
}
.price{
  padding: 10px  10px;
 
   border: 50px solid black;
   border: none;
   
}

.description{
  
  padding: 10px  10px ;
  
   border: 50px solid black;
   border: none;
  
 
}

input::placeholder {
  font-weight: bold;
  opacity: .5;
  color: red;
  padding-right: 100px 100px 100px ;
  border-radius: 7px;
 
}


::placeholder{
  color: Black;
  text-align:start;
}

input[type="Button"] {
  padding: 10px 37px 10px;
  background-color: whitesmoke;

}

input{
    padding: 10px 155px 10px;
   border-spacing: 100cm;
    border: 50px solid black;
    border: none;
    border-radius: 8px;
  
}


.App {
    text-align: center;
    background-color: blanchedalmond;
  padding-bottom: 590px;
  background-image: url(../AddProduct/Image/hostel.jpg);
    
  }

 

.Image{
  padding: 10px 300px 10px;
  border-spacing: 100cm;
   border: 50px solid black;
   border: none;
   border-radius: 7px;
}
  
 