.App {
  text-align: center;
  background-color: blanchedalmond;
padding-bottom: 590px;

background: radial-gradient(
  circle,
  rgba(2, 0, 36, 1) 0%,
  rgba(30, 54, 59, 1) 0%,
  rgba(93, 93, 116, 1) 100%
);
display: flex ;
flex-direction:column;
justify-content: center;
align-items: center;
border-radius: 5px;
position: relative;
}


.Image{
padding: 10px 300px 10px;
}
.title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1em;
}
.price{
padding: 10px  10px;

 border: 50px solid black;
 border: none;
 
}

.description{
padding: 10px  10px ;
}

input::placeholder {
font-weight: bold;
opacity: .5;
color: lightslategray;
padding-right: 100px 100px 100px ;
border-radius: 7px;

}
h1{
  color: lightsteelblue;
  padding:50px;
}
::placeholder{
color: Black;
text-align:start;
}


input[type="Button"] {
padding: 10px 37px 10px;
background-color: lightslategray;
}

input{
  padding: 10px 155px 10px;
 border-spacing: 100cm;
  border: 50px solid black;
  border: none;
  
  border-radius: 8px;

}