body {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.form-control:focus {
  box-shadow: none;
  border-color: #FF9F1C
}

.profile-button {
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #d3d60f
}

.profile-button:active {
  background: #FF9F1C;
  box-shadow: none
}

.back:hover {
  color: #FF9F1C;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #FF9F1C;
  color: #fff;
  cursor: pointer;
  border: solid 1px #FF9F1C;
}

#corner {
  border-radius: 35px;
}



#save_button {
  padding: 5px;
  border: 2px solid #CBF3F0 !important;
  border-radius: 7px;
  color: #000000;
  background-color: #CBF3F0!important;
  font-weight: 500;
}

#save_button:hover {
  color: #FFFFFF;
  border: 2px solid #2EC4B6 !important;
  background-color: #2EC4B6 !important;
}

.labels {
  padding-right: 10px;
}



hr {
  height: 1px;
  border: none;
  background-color: black;
}

.listing_header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 60px;
  ;
}

.main_container {
  width: 50vw;
  margin-left: 50px;
  background: rgba(129, 155, 230, 0.027);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;
  margin-top: 35px;
  margin-bottom: 25px;
  display: flex;
}

.main_container:hover {
  transform: scale(1.05);
}


.img_container {
  height: 200px;
  width: 200px;
  margin-top: 2rem;
  display: block;
  margin: auto;
  padding-top: 1rem;
}

.main_image {
  height: 100%;
  width: 100%;
  border-radius: 10px;

}


.card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(223, 163, 86, 0.2) 0px 8px 24px;
}




.card-desc {
  padding: 1rem;
}

hr {
  color: #9397ad;
}

.card-desc-last {
  display: flex;
  gap: 1rem;
}

.card-desc-first {
  display: flex;
  flex-direction: column;
}

.card-desc strong {
  color: #33354d;
}

.price {
  font-size: 1.5rem;
  color: #6366f1;
}

#card_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: #061618;
}

.update_remove{
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
.update {
  margin-right: 15px;
  border-radius: 5px;
  padding: 0 2px 0 2px;
  border: none;
  font-size: 18px;
  

}

.update:first-child:hover {
  background-color: rgba(113, 241, 241, 0.63);
  border: 1px solid grey;
}

.update:last-child:hover {
  background-color: rgba(255, 0, 0, 0.555);
  border: 1px solid grey;

}
.add{
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing_add{
  border: none;
  padding: 10px;
  margin-left: 15px;
  background-color: white;;
  
}
.listing_add:first-child{
  background-color: rgba(255, 159, 28, 0.8);
}
.listing_add:last-child{
  background-color: rgba(46, 196, 182, 0.8);
}


.profile_addhostel, .profile_addproduct{
    width: 150px;
    height: 150px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

.profile_add_button{
  padding: 5px;
}

.profile_addhostel{
  background-color: rgba(255, 159, 28, 0.8);
}

.profile_addproduct{
  background-color: rgba(46, 196, 182, 0.8);
}


.profile_add_button{
  background-color: white;
  border-radius: 7px;
  padding: 8px;
  border: none;
}

.profile_add_button:hover{
  background-color: pink;
}

.container {
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
}
