.hostelDashboard{
    position:relative;
    min-height: 100vh;
	display: flex;
	flex-direction: column;
}

label {
	display: none;
}

.left_container{
	height: 3rem;
	background-color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
}

button{
	padding: 0.5rem 0.5rem !important;
	background-color: #2EC4B6 !important;
	border: none;
	border-radius: 0.4rem;
	height: 85%;
}

.right_container{
	display: flex;
	flex-direction: column important;
    font-family : "Raleway", sans-serif;
    height :max-content;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 5rem;
}
h2{
    text-align: center;
    margin:20px 0;
}

.card{
    width:450px;
    border:none;
    border-radius : 30px;
    background-color: #fff;
    margin:auto;
    display: flex; /* adding flex */
    justify-content: space-around; /* Positioning them with spaces */
    flex-wrap: wrap; /* Wrapping Elements when page is small */
}

.image{
    min-width:155px;
    margin-right:20px;
}

.stats{
    background : #f2f5f8 !important;
    color : #000 !important;
}

.category{
    font-size : 10px;
    color : #a1aab9;
}

.number1 {
    font-weight: 500;
}

.price {
    font-size :10px;
    color:#a1aab9;
}

.number2 {
    font-weight: 500;
}

.rating{
    font-size : 10px;
    color : #a1aab9
}

.number3 {
    font-weight : 500 px;
}


.card:hover{
    transform: translate(-5px, -5px);
    transform: scale(1.075,1.075);
}

.searchHostel{
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #FF9F1C;
}



.submit_btn{
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}
