
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #FF9F1C;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF9F1C;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #FF9F1C;
    text-decoration: none;
    color: #FF9F1C;
  }