*{
  margin: 0;
  padding: 0;
}


.App{
  text-align: center;
}
.navbar{
  /* background: rgb(189, 52, 52); */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: rgb(255,163,26);
}

.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  list-style:  none;
  color: rgb(27,27,27);
}